*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/.project
/.settings
/target
/.classpath
/backend/.project
/backend/.settings
/backend/.classpath
/frontend/.project
/frontend/.settings
/frontend/target
/frontend/.classpath
/frontend/src/main/frontend/node_modules
/frontend/src/main/frontend/node

/.idea

/questions-management-parent.iml

composite/composite-question-service/.project
composite/composite-question-service/.classpath
composite/composite-question-service/.settings/
composite/composite-question-service/target/

core/core-category-service/.classpath
core/core-category-service/.project
core/core-category-service/.settings/
core/core-category-service/target/

core/core-option-service/target/
core/core-option-service/.project
core/core-option-service/.settings/
core/core-option-service/.classpath

core/core-question-service/target/
core/core-question-service/.project
core/core-question-service/.settings/
core/core-question-service/.classpath

support/support-discovery-server/.classpath
support/support-discovery-server/.project
support/support-discovery-server/.settings/
support/support-discovery-server/target/

support/support-edge-server/.classpath
support/support-edge-server/.project
support/support-edge-server/.settings/
support/support-edge-server/target/

support/support-monitor-dashboard/.project
support/support-monitor-dashboard/.classpath
support/support-monitor-dashboard/.settings/
support/support-monitor-dashboard/target/

support/support-turbine/.project
support/support-turbine/.classpath
support/support-turbine/.settings/
support/support-turbine/target/
